<div class="row projects-display">
    <div class="six columns images">
        <div class="video-container">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/K8RnMAA0rg4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="six columns">
        <h5> Coffee Delivery Demo #1 </h5>
        <li> Making trajectory by using BiRRT </li>
        <li> Controlling by Whole-body HQP controller </li>
        <li> Task Transition by considering multiple tasks </li>
        </div>
</div>
<div class="row projects-display">
    <div class="six columns images">
        <div class="video-container">
            <iframe width="560" height="315" src="http://www.youtube.com/embed/4efccbsBLI4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="six columns">
        <h5> Coffee Delivery Demo #2 </h5>
        <li> Making trajectory by using BiRRT </li>
        <li> Controlling by Whole-body HQP controller </li>
        <li> Task Transition by considering multiple tasks </li>
        </div>
</div>
<div class="row projects-display">
    <div class="six columns images">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/a1Yp0_OP7N0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="six columns">
        <h5> Momentum Observer Demo </h5>
        <li> Detecting disturbances using momentum based observer </li>
        <li> Compliance Control </li>
        </div>
</div>
<!-- - video: "http://www.youtube.com/embed/-lfnLhmSk3M"
- video: http://www.youtube.com/embed/K8RnMAA0rg4
- video: http://www.youtube.com/embed/4efccbsBLI4
- video: http://www.youtube.com/embed/JkTF-9RKoDM -->
