 <div class="user-details">
  <h1> About Me </h1>
  <p style="text-align: left;">Hello, Everyone</p>
  <p style="text-align: left;">I am Sanghyun Kim in <a href="https://www.dyros.snu.ac.kr">Dyros Lab (Prof. Jaeheung Park)</a> at Seoul National University which is working on control and planning of both humanoid and mobile manipulator.&nbsp;</p>
  <p style="text-align: left;">My interest areas is as follows.</p>
  <ul style="list-style-type: circle;">
  <li style="text-align: left;">Optimal Control</li>
  <li style="text-align: left;">Trajectory Optimization</li>
  <li style="text-align: left;">Humanoid Robot</li>
  <li style="text-align: left;">Mobile Manipulator</li>
  <li style="text-align: left;">Robot Hand Control</li>
  </ul>
</div>
  <div class="user">
    <div class="tech">
      <h2>Education</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <ul style="list-style-type: circle;">
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
