<!--
    Flexslider
    Brendan Thompson

    A Flexslider displaying images and captions from the page's metadata
 -->

 <div>
	<div class="flexslider">
		<ul class="slides">
	  		{% for item in page.sliderData limit: 5 %}
				<!-- <iframe id="player_1" src="{{ item.video }}" width="960" height="540" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
				<iframe width="960" height="540" src="{{item.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
			{% endfor %}
		</ul>
	</div>
</div>

